.container{
    display: flex;
    flex-direction: column;
    /* height: 90vh; */
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
}


.avatar-img{
    height: 350px;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
}

p{
    font-size: 15px;
}

.heading{
    font-family: "Gotu", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    margin: 12px 0;
}

.subheading{
    font-weight: 600;
    font-size: 22px;
    margin: 12px 0 12px 0;
}

.description{
    margin: 10px 0 20px 0;
}

.logos{
    height: 30px;
    margin: 20px 0;
}

.socials{
    display: flex;
    align-items: center;
}

.line-design{
    width: 100%;
}

.linkedin-btn{
    color: var(--secondary);
    background-color: var(--tertiary);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    /* height: 50px; */
    gap: 8px;
    border-radius: 12px;

}

.linkedin-logo{
    width:30px;
}

@media (max-width: 620px) {
    .main{
        flex-direction: column-reverse;
    }
    .avatar-img{
        height: 250px;
    }
    .left{
        align-items: center;
        justify-content: center;
    }
    .description{
        text-align: center;
    }
}