.container{
    display: flex;
    flex-direction: column;
    height: 90vh;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
}


.avatar-img{
    height: 300px;
}

.left{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 12px;
}

p{
    font-size: 15px;
}

.heading{
    font-family: "Quicksand", serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--primary);
    margin: 12px 0;
}

.subheading{
    font-weight: 600;
    font-size: 22px;
    margin: 12px 0 12px 0;
}

.description{
    margin: 10px 0 20px 0;
}

.logos{
    height: 30px;
    margin: 20px 0;
}

.line-design{
    width: 100%;
}

@media (max-width: 620px) {
    .main{
        flex-direction: column-reverse;
    }
    .avatar-img{
        height: 250px;
    }
    .left{
        align-items: center;
        justify-content: center;
    }
    .description{
        text-align: center;
    }
}