#sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--primary);
}



@media (max-width: 620px) {
    .Navbar{
        flex-direction: column;
    }
    .links{
        border-top:2px solid black;
    }
  }

.logo{
    font-size: 18px;
    font-family: "Playwrite VN", serif;
    font-weight: 900;
    margin: 0px 15px;
}

.links{
    margin: 0px 15px;
    font-size: 18px;
}

a{
    margin: 0 15px;
}
