.container-projects{
    margin: 20px 0 80px 0;
}

.main-projects{
    margin: 60px 20px 60px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    align-items: center; 
    justify-items: center;
}


.project-wrap{
    height: 250px;
    width: 340px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    background-color: #f1f1f1;
}

.project-img-wrap{
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.project-img-cont{
    overflow: hidden;
    width: 90%;
    margin-top: 15px;
    border-radius: 15px;
    position: relative;
}

.project-img{
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(237, 237, 237);
    transition: 1s ease;
}

.project-img-cont:hover .project-img {
  transform: scale(1.2);
}

/* Overlay entering from left with skew */
.project-overlay-left {
  position: absolute;
  top: 0;
  left: -90%;
  width: 65%;
  height: 100%;
  background: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: left 0.4s ease;
  z-index: 2;
  pointer-events: none; /* So image links remain clickable */
}

/* Un-skew inner content */
.project-overlay-left::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transform: skew(-15deg);
  z-index: -1;
}

/* Show on hover */
.project-img-cont:hover .project-overlay-left {
  left: -10%;
}

.tech-stack-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.tech-stack-list li {
  margin-bottom: 5px;
  font-size: 14px;
}

.project-title-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14px 0 0 0;
}

.project-title{
    width: 90%;
    font-size: 18px;
    font-weight: 600;
}

.both-links{
    display: flex;
    justify-content: space-between;
    margin: 5px 30px 0 0;
}

.project-link-a{
    text-decoration: none;
    color: rgb(35, 35, 35);
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.project-link-a:hover{
    color: red;
}

.hidden{
    display: none;
}

.project-arrow{
    width: 15px;
}



@media (max-width: 900px) {
    .main-projects{  
        grid-template-columns: repeat(1, 1fr);
    }
}