::selection {
  color: #EBE2E0;
  background: #1F1F1F;
}

::-moz-selection {
  color: #EBE2E0;
  background: #1F1F1F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--secondary);
}

html {
    scroll-behavior: smooth;
  }

div#skills{
    overflow-x: hidden;
}